# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.ex

# Data files (ignores in all directories)
**/*.dat
**/*.json
**/*.hdf5

# MacOS Folder Attributes
**/*.DS_Store

# sbatch err and out files
**/*.err
**/*.out

# Allow tracking .test files and job sumary files in all directories
!**/*.test
!job_summary_*.txt
